@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-secondary {
        @apply px-4 py-2 font-semibold text-white rounded-lg shadow-md bg-stone-500 hover:bg-stone-700 focus:outline-none focus:ring-2 focus:ring-stone-400 focus:ring-opacity-75;
    }

  .comments a {
        @apply hover:underline text-blue-600 hover:text-blue-800 visited:text-purple-600
     }

  .vertical-text   {
        display: inline-block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: scale(-1);

  }

  .ck-content{
    height: 330px;
    @apply prose;
    @apply max-w-none;
}

  [x-cloak] { display: none !important; }
}


